
<div class="container cardy">
    <form (ngSubmit)="onSubmit()" [formGroup]="autorForm" id="contact">
      <h3>Cadastro de Autor</h3>
      <fieldset>
        <input placeholder="Nome do Autor" type="text" tabindex="1" required autofocus formControlName="nome">
      </fieldset>
      <fieldset>
        <label for="inputState">Nacionalidade</label>
        <select id="inputState" class="form-control" formControlName="nacionalidade">
          <option selected>Selecione</option>
          <option *ngFor="let p of paises" value= {{p.nome}} >{{ p.nome }}</option>
        </select>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Cadastre</button>
      </fieldset>
    </form>
  </div>
