<div class="container">
    <div class="row">
        <div  class="col-md-12 mt-4" >
            <h2 style="color: antiquewhite;">Minha coleção</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table style="border-color: black;" class="table text-center">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Autor</th>
                        <th>Quant. páginas</th>
                        <th>Capa</th>
                        <th>Delete</th>
                        <th>Alterar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let livro of listaLivros">
                        <td>{{ livro?.nome }}</td>
                        <td>{{ livro?.autor?.nome }}</td>
                        <td>{{ livro?.numeroPaginas }}</td>
                        <td><img [src]="livro?.capa"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
