<div class="container content">
  <div class="row">
    <div class="col-md-6 mt-4">
      <h2 style="color: rgb(12, 12, 12)">Minha coleção</h2>
    </div>
    <div class="col-md-6 mt-4">
      <ul *ngIf="numeroPagina >= 1" class="pagination justify-content-md-end">
        <li class="page-item">
          <a class="page-link" (click)="previousPage()">Previous</a>
        </li>
        <li *ngFor="let item of collection" class="page-item">
          <a
            class="page-link"
            [routerLink]="['page', item]"
            (click)="changePage(item)"
            >{{ item }}</a
          >
        </li>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table style="border-color: black" class="table text-center">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Autor</th>
            <th>Quant. páginas</th>
            <th>Capa</th>
            <th>Delete</th>
            <th>Alterar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let livro of listaLivros">
            <td class="link" [routerLink]="[livro.idLivro]">
              {{ livro?.nome }}
            </td>
            <td>{{ livro?.autor?.nome }}</td>
            <td>{{ livro?.numeroPaginas }}</td>
            <td>
              <img
                [src]="livro?.capa"
                class="link"
                [routerLink]="[livro.idLivro]"
              />
            </td>
            <td>
              <i
                (click)="deleteBook(livro?.idLivro)"
                class="fas fa-trash icones"
              ></i>
            </td>
            <td>
              <i
                [routerLink]="['/livros/newBook', livro.idLivro]"
                class="fas fa-pen icones"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>

     <!--  <ul *ngIf="numeroPagina >= 1" class="pagination justify-content-md-end">
        <li class="page-item">
          <a class="page-link" (click)="previousPage()">Previous</a>
        </li>
        <li *ngFor="let item of collection" class="page-item">
          <a
            class="page-link"
            [routerLink]="['page', item]"
            (click)="changePage(item)"
            >{{ item }}</a
          >
        </li>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()">Next</a>
        </li>
      </ul> -->
      <!-- <pagination [page]="page" (paginationEvent)=changePage($event)></pagination> -->
    </div>
  </div>
</div>


