
img{
    height: 110px;
    width: 95px;
    margin-left: -40px;
    margin-top: 10px;

}

.icones:hover{
    color: rgb(42, 170, 48);
    cursor: pointer;

}

.link:hover{
    color: rgb(93, 156, 40);
    cursor: pointer;
}

.page-link{
    color:green;
}

td{
  color: rgb(0, 0, 0);

}

h2{
  color: black;
}

.content{
  background-color: rgb(246, 246, 248);
  margin-bottom: 100px;


}





