<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">

      <li class="nav-item">
        <a class="nav-link" routerLink="home" [queryParams]="{page:'1'}"routerLinkActive="router-link-active">My Books</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="livros/newBook" routerLinkActive="router-link-active">New Books</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link " routerLink="livros/authors" routerLinkActive="router-link-active" >New Authors</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="fazerLogout()" >Logout</a>
      </li> 
    </ul>
    
  </div>
</nav>