<div class="container">
  <img
    id="meulivro"
    src="/assets/imagens/books.PNG"
    class="img-fluid"
    alt="Responsive image"
  />
</div>
<br /><br />

<form
  [formGroup]="cadastroForm"
  class="mt-5 mb-5"
  (ngSubmit)="onSubmit()"
  class="form-horizontal"
>
  <div class="form-row">
    <div class="col-sm-12">
      <label class="label" for="inputEmail4">Nome</label>
      <input
        type="text"
        class="form-control"
        placeholder="Digite seu nome"
        formControlName="nome"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6">
      <label class="label" for="inputEmail4">Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        formControlName="email"
      />
    </div>
    <div class="col-md-6">
      <label class="label" for="inputEmail4">Data de Nascimento</label>
      <input
        type="date"
        class="form-control"
        placeholder="Email"
        formControlName="dateNascimento"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="label" for="inputPassword4">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="senha1"
      />
      <app-msh-error
        [isError]="!isSenhaForte('senha1')"
        mensagem="A Senha não é forte o bastante"
      ></app-msh-error>
    </div>

    <div class="form-group col-md-6">
      <label class="label" for="inputPassword4">Confirme o password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        formControlName="senha2"
      />
      <app-msh-error
        [isError]="!isSenhaIgual('senha1', 'senha2')"
        mensagem="Senhas diferentes"
      ></app-msh-error>
    </div>
  </div>

  <div class="form-group">
    <label class="label" for="inputAddress">Endereço</label>
    <input
      type="text"
      class="form-control"
      placeholder="1234 Main St"
      formControlName="endereco"
    />
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="label" for="inputCity">Cidade</label>
      <input
        type="text"
        class="form-control"
        id="inputCity"
        formControlName="cidade"
      />
    </div>
    <div class="form-group col-md-4">
      <label class="label" for="inputState">Estado</label>
      <select id="inputState" class="form-control" formControlName="estado">
        <option selected>Selecione</option>
        <option *ngFor="let est of estados" [value]="est.sigla">
          {{ est.nome }}
        </option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label class="label" for="inputZip">Cep</label>
      <input type="text" class="form-control" formControlName="cep" />
    </div>
  </div>

  <div class="container row" style="margin-bottom: 100px;">
    <button type="submit" class="btn btn-primary col-md-3">Cadastre-se</button>
    <a routerLink="/login" class="col-md-3" id="jaTenhoCadastro"
      >Já tenho cadastro!</a
    >
  </div>
</form>
