.btn{
    margin: auto;
}

#myForm{
    margin-top: 200px;
}

#meulivro{
    height: 50%;
    width: 50%;
    display: block;

}

#myForm{

    margin-top: 100px;
    padding: 5px ;
}

.label{
    color: cornsilk;
}
