<div class="container">
  <div class="row">
    <img
      id="meulivro"
      src="/assets/imagens/books.PNG"
      class="img-fluid col-md-6 rounded mx-auto d-block"
      alt="Responsive image"
    />
  </div>
</div>

<form class="mb-5 container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="label" for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      formControlName="email"
    />
  </div>
  <app-msh-error
    [isError]="isErrorCampo('email')"
    mensagem="O campo deve ser preenchido corretamente"
  ></app-msh-error>
  <div class="form-group">
    <label class="label" for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      formControlName="senha"
    />
  </div>
  <app-msh-error
    [isError]="isErrorCampo('senha')"
    mensagem="O campo deve ser preenchido corretamente"
  ></app-msh-error>
  <div class="row">
    <button type="submit" class="btn btn-light md-3">Submit</button>
    <button routerLink="/cadastro" class="btn btn-light md-3">
      Cadastre-se
    </button>
  </div>
</form>
