.btn{
    margin: auto;
}

#myForm{
    margin-top: 200px;
}

#meulivro{
    height: 50%;
    width: 50%;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 0px;
    
}

#myForm{
    
    margin-top: 100px;
    padding: 5px ;
}